<footer>
  <p>
    &#169;2018 - 2019 Felix Hartmann | SlowDowner v3 | <label id='user_count'>Verbundene Geräte: 0</label> | 
    built and hosted on <i class="fab fa-linux"></i> | <a target='about:blank' href="https://gitlab.ffhartmann.de/felixh/slowdowner">Source</a> |
    <a target='about:blank' href="https://gitlab.ffhartmann.de/felixh/slowdowner/raw/master/LICENSE">License</a> | Genutze OpenSource Projekte:
    <a target='about:blank' href="https://pdfobject.com">PDFObject</a> & <a target='about:blank' href="https://howlerjs.com/">howler.js</a> |
  </p>
</footer>