<footer>
  <p>
    2018 - 2021 Felix Hartmann | SlowDowner v3 | 
    <label id='user_count'>Verbundene Geräte: 0</label> | 
    built and hosted on <i class="fab fa-linux"></i> | 
    <a target='about:blank' href="https://gitlab.ffhartmann.de/felixh/slowdowner">Source</a> |
    <a target='about:blank' href="https://gitlab.ffhartmann.de/felixh/slowdowner/raw/master/LICENSE">License</a> | 
    Genutze OpenSource Projekte:
    <a target='about:blank' href="https://pdfobject.com">PDFObject</a> & 
    <a target='about:blank' href="https://howlerjs.com/">howler.js</a> |
    Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> |
  </p>
</footer>
