@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~datatables/media/css/jquery.dataTables.min.css";


/* Colors */
$secondary-color:   #456632;
$bg-dark:           #343a40;
$bg-grey:           #fefefe;


/* scss */
@supports (-webkit-overflow-scrolling: touch) {
  /* no volume on iOS */
  .not-on-iOS{
    display: none;
  }
}


/* old css */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body { 
  font: 13px Helvetica, Arial;
  background-color: $bg-grey;
}

.container-fluid {
  max-width: 1100px;
  min-width: 25em;
}

.nav-link{
  color: $bg-grey;
}

.info-txt{
  font-size: 1.5em;
}

.info-txt-small{
  font-size: 1.0em;
}

.btn{
  font-size: 1.8em;
  width: 2em;
}

#txt-duration-label {
  float: right;
  text-align: right;
}

.align-right {
  float: right;
  text-align: right;
}

.row {
  padding: 2em;
}

.spacer-bottom {
  padding-bottom: 2em;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slidecontainer .slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slidecontainer .slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainer .slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#songlist_paginate {
  border-color: $bg-dark;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

#songlist_info {
  padding-top: 1em;
  padding-bottom: 1em;
}

#songlist_wrapper {
  padding-bottom: 1em;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.ui-state-highlight {
  color: #FFF !important;
  background: $bg-dark !important;
}
